In [ ]:
# Tugas Pengenalan Apache Spark 

##### Ilham Muhammad Misbahuddin
##### 05111540000088

## Kebutuhan :
1. Operating System : Kali Linux 2019.1
2. Apache Spark 2.3.3
3. Scala 2.12.8
4. Python 2.7.16
5. PySpark 2.4.0
6. Findspark 1.3.0
7. Jupyter Notebook

## Deskripsi Dataset
* Nama Dataset : [Wine Reviews](https://www.kaggle.com/zynicide/wine-reviews)
* Deskripsi : Here is a CSV version of the data I scraped. This dataset has three new fields

--Title (which you can parse the vintage from), Taster Name, and Taster Twitter Handle. This should also fix the duplicate entries problem in the first version of the dataset and add ~25k unique reviews to play with.

<table>
    <thead>
        <tr>
            <th>Sumber Data</th>
            <th>Jumlah Baris</th>
            <th>Jumlah Colom</th>
            <th>Ukuran</th>
            <th>Format File</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>winemag-data-130k-v2.csv</td>
            <td>129975</td>
            <td>14</td>
            <td>52,9 MB</td>
            <td>CSV</td>
        </tr>
    </tbody>
</table>

## Inisialisasi Apache Spark

In [1]:
# Import findspark to make pyspark importable as a regular library
import findspark
findspark.init('/usr/local/spark')

In [2]:
# Import required python library
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# Create Spark Session
# The entry point to programming Spark with the Dataset 
spark = SparkSession.builder.appName("Traffic Violations in Maryland County Clustering").getOrCreate()

In [3]:
# Print spark object ID
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fd858752850>

## Load Dataset

In [4]:
# Load the dataset
df = spark.read.csv("/root/Lecture/BIGDATA/Traffic_Violations.csv", header=True, inferSchema=True)

In [5]:
# Print top 20 rows data
df.show()

+------------+------------+------+--------------------+--------------------+--------------------+----------------+-----------------+--------+-----+---------------+---------------+-----+------------------+------+------------------+-------+---------+-----+---------------+----+-----------+--------+------+--------------+-------------+--------------------+-----------------------+--------+------+---------------+------------+--------+-----------------+--------------------+
|Date Of Stop|Time Of Stop|Agency|           SubAgency|         Description|            Location|        Latitude|        Longitude|Accident|Belts|Personal Injury|Property Damage|Fatal|Commercial License|HAZMAT|Commercial Vehicle|Alcohol|Work Zone|State|    VehicleType|Year|       Make|   Model| Color|Violation Type|       Charge|             Article|Contributed To Accident|    Race|Gender|    Driver City|Driver State|DL State|      Arrest Type|         Geolocation|
+------------+------------+------+--------------------+--------------------+--------------------+----------------+-----------------+--------+-----+---------------+---------------+-----+------------------+------+------------------+-------+---------+-----+---------------+----+-----------+--------+------+--------------+-------------+--------------------+-----------------------+--------+------+---------------+------------+--------+-----------------+--------------------+
|  09/24/2013|    17:11:00|   MCP|3rd district, Sil...|DRIVING VEHICLE O...|     8804 FLOWER AVE|            null|             null|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2008|       FORD|      4S| BLACK|      Citation|    13-401(h)|Transportation Ar...|                     No|   BLACK|     M|    TAKOMA PARK|          MD|      MD|A - Marked Patrol|                null|
|  08/29/2017|    10:19:00|   MCP|2nd district, Bet...|DRIVER FAILURE TO...|WISCONSIN AVE@ EL...|       38.981725|-77.0927566666667|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   VA|02 - Automobile|2001|     TOYOTA| COROLLA| GREEN|      Citation|   21-201(a1)|Transportation Ar...|                     No|   WHITE|     F|FAIRFAX STATION|          VA|      VA|A - Marked Patrol|(38.981725, -77.0...|
|  12/01/2014|    12:52:00|   MCP|6th district, Gai...|FAILURE STOP AND ...|CHRISTOPHER AVE/M...|39.1628883333333|-77.2290883333333|      No|   No|             No|            Yes|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2001|      HONDA|  ACCORD|SILVER|      Citation|    21-403(b)|Transportation Ar...|                     No|   BLACK|     F| UPPER MARLBORO|          MD|      MD|A - Marked Patrol|(39.1628883333333...|
|  08/29/2017|    09:22:00|   MCP|3rd district, Sil...|FAILURE YIELD RIG...|CHERRY HILL RD./C...|       39.056975|-76.9546333333333|      No|   No|             No|            Yes|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|1998|       DODG|  DAKOTA| WHITE|      Citation|    21-402(b)|Transportation Ar...|                     No|   BLACK|     M|FORT WASHINGTON|          MD|      MD|A - Marked Patrol|(39.056975, -76.9...|
|  08/28/2017|    23:41:00|   MCP|6th district, Gai...|FAILURE OF DR. TO...|355 @ SOUTH WESTL...|            null|             null|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2015|MINI COOPER|      2S| WHITE|      Citation|   21-405(e1)|Transportation Ar...|                     No|   WHITE|     M|   GAITHERSBURG|          MD|      MD|A - Marked Patrol|                null|
|  08/27/2013|    00:55:00|   MCP|2nd district, Bet...|NEGLIGENT DRIVING...|CONNECTICUT/CHEVY...|            null|             null|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2013|    HYUNDAI| ELANTRA|  GRAY|      Citation|  21-901.1(b)|Transportation Ar...|                     No|   WHITE|     F|  SILVER SPRING|          MD|      MD|A - Marked Patrol|                null|
|  10/08/2013|    13:23:00|   MCP|4th district, Whe...|DRIVING VEHICLE O...|GEORGIA AVE / BEL...|39.0933833333333|-77.0795516666667|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|1993|       FORD|  PICKUP| BLACK|      Citation|    13-401(h)|Transportation Ar...|                     No|HISPANIC|     M|     BELTSVILLE|          MD|      MD|A - Marked Patrol|(39.0933833333333...|
|  04/24/2015|    00:38:00|   MCP|1st district, Roc...|DRIVER FAIL TO ST...|EB MONTROSE PKWY/...|            null|             null|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   VA|02 - Automobile|2003|      DODGE|SPRINTER| WHITE|      Citation|    21-204(b)|Transportation Ar...|                     No|HISPANIC|     M|  SILVER SPRING|          MD|      MD|A - Marked Patrol|                null|
|  08/28/2017|    23:41:00|   MCP|6th district, Gai...|FAILURE OF INDIVI...|355 @ SOUTH WESTL...|            null|             null|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2015|MINI COOPER|      2S| WHITE|      Citation|    16-112(c)|Transportation Ar...|                     No|   WHITE|     M|   GAITHERSBURG|          MD|      MD|A - Marked Patrol|                null|
|  08/28/2017|    23:41:00|   MCP|6th district, Gai...|DRIVING VEHICLE O...|355 @ SOUTH WESTL...|            null|             null|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2015|MINI COOPER|      2S| WHITE|      Citation|    16-115(g)|Transportation Ar...|                     No|   WHITE|     M|   GAITHERSBURG|          MD|      MD|A - Marked Patrol|                null|
|  02/14/2014|    20:10:00|   MCP|1st district, Roc...|FAILURE TO DRIVE ...|GATEWAY CENTER DR...|39.2348434333333|     -77.28153995|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2005|       CADI|     STS| BLACK|      Citation|    21-311(1)|Transportation Ar...|                     No|   WHITE|     M|  POINT OF ROCK|          MD|      WV|A - Marked Patrol|(39.2348434333333...|
|  03/19/2012|    16:10:00|   MCP|2nd district, Bet...|DRIVER USING HAND...|CLARENDON RD @ EL...|38.9827307333333|-77.1007551666667|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   VA|02 - Automobile|1996|      HONDA|   CIVIC|SILVER|      Citation|21-1124.2(d2)|Transportation Ar...|                     No|HISPANIC|     M|      ARLINGTON|          VA|      VA|A - Marked Patrol|(38.9827307333333...|
|  06/09/2012|    21:19:00|   MCP|3rd district, Sil...|OCCUPANT UNDER 16...|2068 HARLEQUIN TE...|     39.06914295|-76.9696780666667|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2004|  CHEVROLET|  IMPALA|SILVER|      Citation|  22-412.3(b)|Transportation Ar...|                     No|   WHITE|     F|  SILVER SPRING|          MD|      MD|A - Marked Patrol|(39.06914295, -76...|
|  12/20/2012|    00:41:00|   MCP|2nd district, Bet...|DRIVING WHILE IMP...|NORFOLK AVE /  ST...|      38.9835782|     -77.09310515|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2005|       AUDI|      4S|  GRAY|      Citation|   21-902(b1)|Transportation Ar...|                     No|   WHITE|     M|        DERWOOD|          MD|      MD|A - Marked Patrol|(38.9835782, -77....|
|  07/20/2012|    23:12:00|   MCP|5th district, Ger...|FAILURE TO STOP A...|WISTERIA DR @ WAR...|39.1618098166667|     -77.25358095|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2002|       TOYT|      4S|   RED|      Citation|    21-707(a)|Transportation Ar...|                     No|   ASIAN|     F|     GERMANTOWN|          MD|      MD|A - Marked Patrol|(39.1618098166667...|
|  09/11/2012|    21:47:00|   MCP|4th district, Whe...|PERSON DRIVING MO...|TWIG RD AT GOOD H...|     39.09619885|     -76.98696215|      No|  Yes|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2009|      DODGE| CHARGER| BLACK|      Citation|    16-303(d)|Transportation Ar...|                     No|   BLACK|     M|  SILVER SPRING|          MD|      MD|A - Marked Patrol|(39.09619885, -76...|
|  07/23/2013|    23:15:00|   MCP|4th district, Whe...|FAILURE TO ATTACH...|108 / OLD BALTIMO...|39.1516659166667|      -77.0706278|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2000|     SATURN|      LS|SILVER|      Citation|    13-411(a)|Transportation Ar...|                     No|   BLACK|     F|     BELTSVILLE|          MD|      MD|A - Marked Patrol|(39.1516659166667...|
|  10/28/2013|    17:41:00|   MCP|6th district, Gai...|DRIVER FAILURE TO...|EMORY GROVE RD @ ...|39.1299347666667|-77.1670501333333|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2003|      HONDA|  ACCORD|  GOLD|      Citation|    21-404(b)|Transportation Ar...|                    Yes|   BLACK|     M|   GAITHERSBURG|          MD|      MD|A - Marked Patrol|(39.1299347666667...|
|  08/28/2017|    23:41:00|   MCP|6th district, Gai...|PERSON DRIVING MO...|355 @ SOUTH WESTL...|            null|             null|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2015|MINI COOPER|      2S| WHITE|      Citation|    16-303(c)|Transportation Ar...|                     No|   WHITE|     M|   GAITHERSBURG|          MD|      MD|A - Marked Patrol|                null|
|  12/17/2015|    13:15:00|   MCP|5th district, Ger...|FAILURE TO RETURN...|19916 CRYSTAL ROC...|39.2227933333333|        -77.25369|      No|   No|             No|             No|   No|                No|    No|                No|     No|       No|   MD|02 - Automobile|2005|     TOYOTA|   CAMRY| BLACK|      Citation|    20-103(b)|Transportation Ar...|                     No|   BLACK|     M|      ROCKVILLE|          MD|      MD|A - Marked Patrol|(39.2227933333333...|
+------------+------------+------+--------------------+--------------------+--------------------+----------------+-----------------+--------+-----+---------------+---------------+-----+------------------+------+------------------+-------+---------+-----+---------------+----+-----------+--------+------+--------------+-------------+--------------------+-----------------------+--------+------+---------------+------------+--------+-----------------+--------------------+
only showing top 20 rows

In [6]:
# Count data rows
df.count()

1293487

In [7]:
# inferSchema is used to inference the actual datatype of columns, especially for dates and timestamp
df.printSchema()

root
 |-- Date Of Stop: string (nullable = true)
 |-- Time Of Stop: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- SubAgency: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Accident: string (nullable = true)
 |-- Belts: string (nullable = true)
 |-- Personal Injury: string (nullable = true)
 |-- Property Damage: string (nullable = true)
 |-- Fatal: string (nullable = true)
 |-- Commercial License: string (nullable = true)
 |-- HAZMAT: string (nullable = true)
 |-- Commercial Vehicle: string (nullable = true)
 |-- Alcohol: string (nullable = true)
 |-- Work Zone: string (nullable = true)
 |-- State: string (nullable = true)
 |-- VehicleType: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Violation Type: string (nullable = true)
 |-- Charge: string (nullable = true)
 |-- Article: string (nullable = true)
 |-- Contributed To Accident: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Driver City: string (nullable = true)
 |-- Driver State: string (nullable = true)
 |-- DL State: string (nullable = true)
 |-- Arrest Type: string (nullable = true)
 |-- Geolocation: string (nullable = true)

## Clustering

In [8]:
from pyspark.sql.functions import col

In [9]:
# Convert the type of Latitude and Longitude values into float and remove null values
df_preprocess = (df
       .withColumn("Latitude", col("Latitude").cast("float"))
       .withColumn("Longitude", col("Longitude").cast("float"))
       .dropna()
       )

In [10]:
df_preprocess.printSchema()

root
 |-- Date Of Stop: string (nullable = true)
 |-- Time Of Stop: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- SubAgency: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- Accident: string (nullable = true)
 |-- Belts: string (nullable = true)
 |-- Personal Injury: string (nullable = true)
 |-- Property Damage: string (nullable = true)
 |-- Fatal: string (nullable = true)
 |-- Commercial License: string (nullable = true)
 |-- HAZMAT: string (nullable = true)
 |-- Commercial Vehicle: string (nullable = true)
 |-- Alcohol: string (nullable = true)
 |-- Work Zone: string (nullable = true)
 |-- State: string (nullable = true)
 |-- VehicleType: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Make: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Color: string (nullable = true)
 |-- Violation Type: string (nullable = true)
 |-- Charge: string (nullable = true)
 |-- Article: string (nullable = true)
 |-- Contributed To Accident: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Driver City: string (nullable = true)
 |-- Driver State: string (nullable = true)
 |-- DL State: string (nullable = true)
 |-- Arrest Type: string (nullable = true)
 |-- Geolocation: string (nullable = true)

In [11]:
df_preprocess.count()

1126191

In [12]:
# Register the dataframe as a SQL temporary view
df_preprocess.createOrReplaceTempView("traffic_violations")

In [13]:
# Retrieve the data needed:
# - Latitude
# - Longitude
# - Personal Injury
# - Property Damage

data = spark.sql("SELECT `Latitude` as latitude, `Longitude` as longtitude, `Personal Injury`, `Property Damage`\
                  FROM traffic_violations")

In [14]:
data.show()

+---------+----------+---------------+---------------+
| latitude|longtitude|Personal Injury|Property Damage|
+---------+----------+---------------+---------------+
|38.981724| -77.09276|             No|             No|
|39.162888| -77.22909|             No|            Yes|
|39.056976|-76.954636|             No|            Yes|
|39.093384| -77.07955|             No|             No|
|39.234844| -77.28154|             No|             No|
| 38.98273| -77.10075|             No|             No|
| 39.06914| -76.96968|             No|             No|
|38.983578|  -77.0931|             No|             No|
|39.161808| -77.25358|             No|             No|
|  39.0962| -76.98696|             No|             No|
|39.151665|-77.070625|             No|             No|
|39.129936| -77.16705|             No|             No|
|39.222794| -77.25369|             No|             No|
|39.067535| -77.14941|             No|             No|
|39.048206| -76.98472|             No|             No|
| 39.12324|   -77.233|             No|             No|
|39.030678|-77.005104|             No|             No|
| 38.99928| -77.09701|             No|             No|
| 39.12324|   -77.233|             No|             No|
|38.983032| -77.09245|             No|             No|
+---------+----------+---------------+---------------+
only showing top 20 rows

In [15]:
data.count()

1126191

In [16]:
# Import VectorAssembler
from pyspark.ml.feature import VectorAssembler

vector_assembler = VectorAssembler(inputCols=["latitude", "longtitude"], outputCol="features")
df_assembled = vector_assembler.transform(data)

df_assembled.show()

+---------+----------+---------------+---------------+--------------------+
| latitude|longtitude|Personal Injury|Property Damage|            features|
+---------+----------+---------------+---------------+--------------------+
|38.981724| -77.09276|             No|             No|[38.9817237854003...|
|39.162888| -77.22909|             No|            Yes|[39.1628875732421...|
|39.056976|-76.954636|             No|            Yes|[39.0569763183593...|
|39.093384| -77.07955|             No|             No|[39.0933837890625...|
|39.234844| -77.28154|             No|             No|[39.2348442077636...|
| 38.98273| -77.10075|             No|             No|[38.9827308654785...|
| 39.06914| -76.96968|             No|             No|[39.0691413879394...|
|38.983578|  -77.0931|             No|             No|[38.9835777282714...|
|39.161808| -77.25358|             No|             No|[39.1618080139160...|
|  39.0962| -76.98696|             No|             No|[39.0961990356445...|
|39.151665|-77.070625|             No|             No|[39.1516647338867...|
|39.129936| -77.16705|             No|             No|[39.1299362182617...|
|39.222794| -77.25369|             No|             No|[39.2227935791015...|
|39.067535| -77.14941|             No|             No|[39.0675354003906...|
|39.048206| -76.98472|             No|             No|[39.0482063293457...|
| 39.12324|   -77.233|             No|             No|[39.1232414245605...|
|39.030678|-77.005104|             No|             No|[39.0306777954101...|
| 38.99928| -77.09701|             No|             No|[38.9992790222168...|
| 39.12324|   -77.233|             No|             No|[39.1232414245605...|
|38.983032| -77.09245|             No|             No|[38.9830322265625...|
+---------+----------+---------------+---------------+--------------------+
only showing top 20 rows

In [17]:
# Import KMeans
from pyspark.ml.clustering import KMeans

# Train a k-means model
kmeans = KMeans().setK(3).setSeed(1)
model = kmeans.fit(df_assembled.select('features'))

In [18]:
# Make predictions by transforming the initial dataframe
transform = model.transform(df_assembled)

transform.show()

+---------+----------+---------------+---------------+--------------------+----------+
| latitude|longtitude|Personal Injury|Property Damage|            features|prediction|
+---------+----------+---------------+---------------+--------------------+----------+
|38.981724| -77.09276|             No|             No|[38.9817237854003...|         0|
|39.162888| -77.22909|             No|            Yes|[39.1628875732421...|         0|
|39.056976|-76.954636|             No|            Yes|[39.0569763183593...|         0|
|39.093384| -77.07955|             No|             No|[39.0933837890625...|         0|
|39.234844| -77.28154|             No|             No|[39.2348442077636...|         0|
| 38.98273| -77.10075|             No|             No|[38.9827308654785...|         0|
| 39.06914| -76.96968|             No|             No|[39.0691413879394...|         0|
|38.983578|  -77.0931|             No|             No|[38.9835777282714...|         0|
|39.161808| -77.25358|             No|             No|[39.1618080139160...|         0|
|  39.0962| -76.98696|             No|             No|[39.0961990356445...|         0|
|39.151665|-77.070625|             No|             No|[39.1516647338867...|         0|
|39.129936| -77.16705|             No|             No|[39.1299362182617...|         0|
|39.222794| -77.25369|             No|             No|[39.2227935791015...|         0|
|39.067535| -77.14941|             No|             No|[39.0675354003906...|         0|
|39.048206| -76.98472|             No|             No|[39.0482063293457...|         0|
| 39.12324|   -77.233|             No|             No|[39.1232414245605...|         0|
|39.030678|-77.005104|             No|             No|[39.0306777954101...|         0|
| 38.99928| -77.09701|             No|             No|[38.9992790222168...|         0|
| 39.12324|   -77.233|             No|             No|[39.1232414245605...|         0|
|38.983032| -77.09245|             No|             No|[38.9830322265625...|         0|
+---------+----------+---------------+---------------+--------------------+----------+
only showing top 20 rows

In [19]:
# Import ClusteringEvaluator
from pyspark.ml.evaluation import ClusteringEvaluator

# Evaluate clustering by computing Silhouette score
evaluator = ClusteringEvaluator()
silhouette = evaluator.evaluate(transform)

In [20]:
# Print the Silhouette score
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.999995346055

In [21]:
centers = model.clusterCenters()

print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[ 39.08283411 -77.11124616]
[-91.72519021  38.85813823]
[38.88524881 39.10242081]

In [22]:
# Convert to Pandas
import pandas as pd

# Convert to CSV, so mapbox API can render it
transform.toPandas().to_csv('/root/Lecture/BIGDATA/datasets/big_data_traffic_violations.csv')

## Visualization

In [23]:
# Import pixiedust to do visualization
import pixiedust

# Open the CSV file
prediction = pixiedust.sampleData('file:///root/Lecture/BIGDATA/datasets/big_data_traffic_violations.csv')

Pixiedust database opened successfully

Downloading 'file:///root/Lecture/BIGDATA/datasets/big_data_traffic_violations.csv' from file:///root/Lecture/BIGDATA/datasets/big_data_traffic_violations.csv
Downloaded 85236984 bytes
Creating pySpark DataFrame for 'file:///root/Lecture/BIGDATA/datasets/big_data_traffic_violations.csv'. Please wait...
Loading file using 'SparkSession'
Successfully created pySpark DataFrame for 'file:///root/Lecture/BIGDATA/datasets/big_data_traffic_violations.csv'

![Mapboax Option](img/Screenshot001.png)

In [ ]:
display(prediction)

* Simple
    
    ![img2](img/Screenshot002.png)

* Choropleth

    ![img3](img/Screenshot003.png)

* Choropleth Cluster
    
    ![img4](img/Screenshot004.png)